@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 style="color:purple" class="display-4"><strong> ZBS Kütüphanesi Online </strong></strong></h1>
    <h1 style="color:purple" class="display-4"><strong> Hoşgeldiniz </strong></strong></h1>
    <br />
    <br />
    <p>
        <img src="/img/1_6Jp3vJWe7VFlFHZ9WhSJng.jpg"  />
    </p>

</div>

