

@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="text-center">
<br />
<br />
<h2 style="color:purple"></h2>
<h3>Muallimköy Mahallesi, Deniz Cd. No:143-5</h3>
<h3>41400 Gebze/Kocaeli</h3>
<h3 style="color:brown">E-posta Adresimiz:</h3>

<h4><a href="mailto:zbsarican@gmail.com">zbsarican@gmail.com </a></h4>
</div>

                                    