@model List<KitapTuru>

<div class="container">
    <div class="row pt-3 pb-4">
        <h1>Kitap Türleri</h1>
    </div>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th style="width:50px">Id</th>
                <th>Kitap Türü</th>
                <th style="width:250px"></th>
                <th style="width:250px"></th>
            </tr>
        </thead>

        <tbody>
            @foreach (var kitapTuru in Model)
            {
                <tr>
                    <td style="width:50px">@kitapTuru.Id</td>
                    <td>@kitapTuru.Ad</td>
                    <td><a asp-controller="KitapTuru" asp-action="Guncelle" asp-route-id="@kitapTuru.Id" type="button" class="btn btn-success" style="width:200px">Güncelle</a> </td>
                    <td><a asp-controller="KitapTuru" asp-action="Sil" asp-route-id="@kitapTuru.Id" type="button" class="btn btn-danger" style="width:200px">Sil</a> </td>
                </tr>
            }
        </tbody>

    </table>
    <div class="row pt-3 pb-2">
        <div>
            <a asp-controller="KitapTuru" asp-action="Ekle" class="btn btn-lg btn-primary" type="button">Yeni Kitap Türü Ekle</a>
        </div>
    </div>

</div>
